<div id='rabbit_profile'>
	<h2>Your Rabbit Profile is here</h2>
	<%= @user.name %>
	<%= @user.username %>
	<img src="<%= @user.avatar_url %>"/>
</div>
<div id='rabbits'>
 <span>Followers</span>
 <span>Following</span>
</div>
<div id='your_rabbits'>
	<h2>Your Rabbits</h2>
	Coming...
</div>